__pycache__/
*.pyc
*.ipynb
.ipynb_checkpoints/
logs/

verl-tool/data/
verl-tool/outputs/
verl-tool/verl_step_records/
verl-tool/tmp/
verl-tool/swanlog/
verl-tool/examples/train/interactive_r1
verl-tool/examples/train/search_r1_test
verl-tool/verl_tool/workers/reward_manager/test/
verl-tool/verl_tool/servers/tools/test/

search_r1_test/
draw_figure/
ms-swift/
ab_uncertainty/
datasets/
results/

LLaMA-Factory/auto_run.py
LLaMA-Factory/test_run/
LLaMA-Factory/data/sft_conversation_results/